* {
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    padding: 0;   
}

html {
    font-size: 62.5%;
}

body {
    
    display: grid;
    grid-template: 1fr/1fr;
    height: 100vh;
}

ul {
    list-style: none;

}

header {
    width: 100%;
    padding: 25px 15px;
    background: linear-gradient(145deg, #7f8adb, #7d8cf9);
    box-shadow:  31px 31px 62px #6873c9,
                 -31px -31px 62px #788aee;
}

header picture {
    display: flex;
    margin: 0 auto;
    width: 75px;
}

header picture img {
    width: 100%;
    object-fit: contain;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 17px;
}

header h1 {
    margin-bottom: 0;
    font-size: 3.6rem;
}

header p {
    font-size: 2rem;
    color: #000;
    margin-bottom: 25px;
    font-weight: 700;
}

main {
    width: 100%;
    display: grid;
    grid-template: auto / repeat(auto-fit,minmax(350px,1fr));
    grid-auto-rows: auto;
    padding: 20px 15px 80px;
    gap: 20px;
    background: linear-gradient(315deg, #9ae8f6, #88e9fa);
    box-shadow:  -30px -30px 59px #85d5e3,
    30px 30px 59px #84e4f5;
}

main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    gap: 5px;
}

main section form input {
    width: 60%;
    font-size: 1.3rem;
    padding: 5px;
    text-align: center;
    color: #000;
}

main section form input:hover {
    background-color: lightgray;
}

main section form button {
    padding: 5px;
    margin-top: 3px;
}

main section form button:focus {
    background-color: lightgrey;
}

main section h2 {
    font-size: 2.4rem;
    text-align: center;
}

main section picture {
    width: 130px;
}

main section picture img {
    width: 100%;
    object-fit: cover;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section > picture {
    position: relative;
}

main section > picture > picture, main section > picture > p {
    opacity: 0;
    transition-duration: 1.5s;
}

#flecha_cuadrado {
    position: absolute;
    top: 125px;
    right: calc(50% - 80px/2);
    width: 80px;
    margin-top: 5px;
}

#lado_cuadrado {
    position: absolute;
    top: 160px;
    left: calc(50% - 35.48px/2);
    margin-top: 8px;
    font-size: 1.8rem;
}

#flecha_triangulo_lado {
    position: absolute;
    width: 100px;
    transform: rotate(-70deg);
    top: 65px;
    left: -40px;
}

#flecha_triangulo_base {
    position: absolute;
    width: 100px;
    right: calc(50% - 100px/2);
    bottom: 12px;
}

#flecha_triangulo_altura {
    position: absolute;
    top: 40px;
    width: 130px;
    right: -88px;
}

#lado_triangulo {
    position: absolute;
    top: 62px;
    left: -32px;
    font-size: 1.8rem;
    transform: rotate(-70deg);
}

#base_triangulo {
    position: relative;
    font-size: 1.8rem;
    top: 12px;
    left: 20px;
}

#altura_triangulo {
    position: absolute;
    font-size: 1.8rem;
    right: -87px;
    bottom: 126px;
    transform: rotate(-90deg);
}

#resultado_triangulo {
    margin-top: -5px;
}

#radio_circulo {
    position: absolute;
    top: 0;
    left: -110px;
    font-size: 1.8rem;
}

#diametro_circulo {
    position: absolute;
    top: 38px;
    left: -111px;
    font-size: 1.8rem;
}

#circunferencia_circulo {
    position: absolute;
    bottom: 0;
    left: -110px;
    font-size: 1.8rem;
}

footer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
}

footer ul {
    display: flex;
    padding: 10px;
}

.footer-left li {
    margin-left: 15px;
}

.footer-right li {
    margin-right: 15px;
}

footer ul li a {
    text-decoration: none;
}

/* codigo hasta vw: 1100px */

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 8px;
    }
}

/* codigo hasta vw: 605 px */

@media (max-width: 605px) {
    header section p {
        display: none;
    }

    header section h1 {
        margin: 0;
        margin-top: 7px;
    }

    header picture img:nth-child(2) {
        display: none;
    }
}

/* codigo hasta vw: 485px */

@media (max-width: 485px) {
    .footer-right li:nth-child(1) {
        margin-left: 5px;
    }
}


